<mat-toolbar class="menu-toolbar">
  <div class="menu-container">
    <button mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Skeleton Counter</span>
    <span class="menu-spacer"></span>
  </div>
  <div class="menu-container">
    <button mat-icon-button class="menu-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="menu-icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
