@use "/src/style/theme" as *;

.menu-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  & .menu-container {
    display: flex;
    align-items: center;
  }
}






.container {
  height: 100%;

  .sidenav {
    padding: 20px;
    width: 100dvw;
    height: 100%;
    
    .sidenav-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      a {
        text-decoration: none;
        color: $brand-secondary;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

