@use "/src/style/theme" as *;

.menu-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  & .menu-container {
    display: flex;
    align-items: center;
  }
}



.sidenav {
  padding: 20px;
  width: 100dvw;
  height: 100%;
}

.container {
  height: 100%;
}
