@use "/src/style/theme" as *;

$button-size: 7rem;

.cal-counter {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  color: $brand-secondary;
  font-size: 1.8rem;
  align-self: center;
  font-weight: bold
}


.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  
  .counter-button {
    height: $button-size;
    width: $button-size;
    color: $brand-gray;
    background-color: $brand-primary;
    cursor: pointer;
    border-radius: 100%;
    border: 2px dashed $brand-secondary;
    
  }
}

.items-container {
  padding: 1rem;

  .item-cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    .item-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8rem;
      width: 12rem;
      border: 1px dashed $brand-primary;
      padding: 1rem;
    }
  }
}