<div class="cal-counter">
  <div class="stats-container">
    <p>Calories Today: {{ calories }}</p>
  </div>

  <div class="items-container">
    <p>Common Items</p>
    <div class="item-cards-container">
      <app-item-card
        *ngFor="let item of commonFoodItems"
        [item]="item"
      >
      </app-item-card>
    </div>
  </div>

  <div class="button-group">
    <app-common-button label="Delete Item"></app-common-button>
    <app-common-button label="Add Item"></app-common-button>
    <app-common-button label="Decrease Cals"></app-common-button>
    <app-common-button label="Manual Add Cals"></app-common-button>
  </div>
</div>