@use "/src/style/theme" as *;

$button-size: 7rem;

.counter-button {
  height: $button-size;
  width: $button-size;
  color: $brand-gray;
  background-color: $brand-primary;
  cursor: pointer;
  border-radius: 100%;
  border: 2px dashed $brand-secondary;
  
}