@use "/src/style/theme" as *;

$button-size: 7rem;

.cig-counter {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1, ul, li {
  color: $brand-secondary;
  font-size: 1.8rem;
}

h1, ul {
  align-self: center;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  span {
    font-weight: bold;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
  
  .counter-button {
    height: $button-size;
    width: $button-size;
    color: $brand-gray;
    background-color: $brand-primary;
    cursor: pointer;
    border-radius: 100%;
    border: 2px dashed $brand-secondary;
    
  }
}
  

