<h1 mat-dialog-title>Edit {{ data.name }}</h1>
<div mat-dialog-content class="item-input">
  <form [formGroup]="modalForm">
    <input type="text" formControlName="name" />
    <input
      type="number"
      name="calories"
      id="calories"
      formControlName="calories"
    />
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onSave()">
    Save
  </button>
</div>
